* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
    font-family: 'Netflix Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 26px 56px;
    position: absolute;
    width: 100%;
    z-index: 5;
}

header a.logo {
    display: block;
}

header .logo svg {
    fill: #e50914;
    /* width: 5.5625rem;  */
    height: 37px;
}

header div+div {
    text-align: right;
}

a.login {
    display: inline-block;
    background-color: #e50914;
    color: white;
    text-decoration: none;
    padding: 4px 16px;
    /* box-sizing: border-box;
    position: relative; */
    /* border-radius: 0.25rem; */
    cursor: pointer;
}

header select {
    background: transparent;
    color: white;
    padding: 6px 0 6px 20px;
    border-radius: 3px;

}

header div.select {
    display: inline-block;
    margin-right: 30px;
}

header div.select svg {
    height: 20px;
    fill: white;
    position: absolute;
    margin-top: 4px;
    margin-left: 8px;
}

div.splash div.background img {
    max-width: 100%;
    opacity: 0.6;

}

div.spalsh div.gradient {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.8) 0, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.8) 100%);
    position: absolute;
    inset: 0;
    z-index: 9;
}

div.splash {
    position: relative;
}

div.splash div.content {
    max-width: 655px;
    position: absolute;
    inset: 0;
    left: 50%;
    margin-left: -327.5px;
    display: grid;
    align-items: center;
    text-align: center;
}

div.splash h1 {
    font-size: 2rem;
    font-weight: 700;
}

div.splash h2 {
    font-size: 1.125rem;
    font-weight: 400;
    margin-top: 16px;

}

div.splash h3 {
    font-size: 1.125rem;
    font-weight: 400;
    margin-top: 24px;
}

div.splash form {
    display: grid;
    position: relative;
    grid-template-columns: 1fr max-content;
    margin-top: 16px;
}

div.splash input {
    width: 100%;
    font-size: 1.2 rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.25rem;
    background: rgba(255, 255, 255, 0.7);
    border-color: rgba(128, 128, 128, 0.7);
    padding: 24px 16px 8px;
}

div.splash input~span {
    position: absolute;
    color : rgb(28, 27, 27);
    left: 10px;
    top: 14px;
    z-index: 3;
    transition: all 0.15s ease;
    pointer-events: none;
}

div.splash input:focus {
    padding-top: 14px;
    padding-bottom: 6px;
}

div.splash input:focus~span {
    top: 2px;
    font-size: 0.8rem;
}

div.splash button {
    padding: 10px 24px;
    background-color: red;
    color: white;
    margin-left: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.625rem;
    border: 0;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 46px;
    padding: 72px;
    align-items: center;
    border-top: 8px solid #222;
}
section.last{
    border-bottom: 8px solid #222;
}

section div.text h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 8px;


}

section div.text p {
    margin: 1rem 0 0;
    font-size: 1.125rem;
    font-weight: 400;

}

.mediaS1 {
    position: relative;
}

.mediaS1 img {
    width: 400px;

}

.mediaS1 video {
    width: 293px;
    position: absolute;
    top: 62px;
    left: 52px;
}

section:nth-child(even) div.text {
    order: 1;
}

section div.download {
    border: 2px solid #666;
    border-radius: 15px;
    padding: 10px;
    height: 95px;
    display: flex;
    text-align: center;
    align-items: center;
    position: absolute;
    position: relative;
    bottom: 20px;
    width: 280px;
    left: 33%;
    margin-left: -140px;
    background-color: #000;
    gap: 15px;
    grid-template-columns: max-content 1fr max-content;
}

section div.download img{
    height: 75px;
    width: auto;
}
.mediaS3 img{
    width: 400px;
    position: absolute;
    top: 1850px;
    z-index: 6;
}
section div.mediaS3 video{
    width: 250px;
    height: 240px;
    /* position: absolute; */
    position: relative;
    top: -60px;
    /* bottom: 600px; */
    left: 72px;
}
div.faq{
    padding:  70px 30px;
}
div.faq.splash h1{
    font-size: 3.125rem;
    text-align: center;
    margin-bottom: 40px;


}
div.questions{
    max-width: 635px;
    margin: 0 auto;
    font-size: 1.625rem;

}
div.question{
    position: relative;
    background-color: #303030;
    margin-bottom: 10px;
    padding: 24px;
}
div.question svg{
    width: 30px;
    height: 30px;
    right: 30px;
    top: 20px;
    position: absolute;
    transform: rotate(45deg);
    transition: all 0.2s ease ;

}
div.question div.header{
    display: block;
    padding: 20px 30px;
    border-bottom: 1px solid #000;
    cursor: pointer;
}
div.question div.answer{
    padding: 0 30px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease ;

}
div.question input[type="checkbox"]{
    display: none;
}
div.question input[type="checkbox"]:checked ~ div.answer{
    padding: 0 30px;
    max-height: 600px;
}

div.question input[type="checkbox"]:checked ~ svg{
    transform:rotate(180deg) ;
}

.faq form{
    max-width: 635px;
    max-width: 0 auto;
}
.faq h3{
    font-weight: normal;
    text-align: center;
    margin: 40px 0 20px;

}